version: 2.1

orbs:
  orb-tools: circleci/orb-tools@10.0
  security: salidas/security@dev:master


workflows:
  build:
    jobs:
      - orb-tools/lint
      - orb-tools/pack
      - orb-tools/publish-dev:
          orb-name: salidas/security
          requires:
            - orb-tools/lint
            - orb-tools/pack
          filters:
            branches:
              ignore:
                  - master
      - hold-for-publish:
          type: approval
          requires:
            - orb-tools/lint
            - orb-tools/pack
      - orb-tools/dev-promote-prod-from-git-tag:
          orb-name: salidas/security
          add-pr-comment: false
          requires: 
            - hold-for-publish
          filters:
            branches:
              only:
                - master
